<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo App</title>
</head>
<body>
    <h1>login page</h1>

    <form action="" method="POST">
         {% csrf_token %}
         <div>
            <label for "">Username</label>
            <input type ="text" placeholder="Enter Username" name="username">
     
        </div>

    
         <div>
            <label for "">Password</label>
            <input type ="password" placeholder="Enter Password" name="password">
     
        </div>

          <button type="submit">Login</button>



</body>
</html>
